{% extends 'admin/layout.html.twig' %}

{% block actions %}
    <twig:button type="link" size="sm" label="Créer" link="{{ path('admin.post.create') }}" />
{% endblock %}

{% block admin %}
    {% if posts|length > 0 %}
        <table class="table w-full">
            <thead>
            <tr class="border-b">
                <td class="px-3 py-3 text-sm text-start">Title</td>
                <td class="px-3 py-3 text-sm text-center">Status</td>
                <td class="px-3 py-3 text-sm text-start">Publier</td>
                <td class="px-3 py-3 text-sm text-center"></td>
            </tr>
            </thead>
            <tbody>
            {% for post in posts %}
                <tr class="border-b">
                    <td class="px-3 py-3 text-sm text-start">{{ post.title }}</td>
                    <td class="px-3 py-3 text-sm text-center">
                        <a href="{{ path('admin.post.status', {id: post.id}) }}" class="text-sm font-medium text-blue-500">
                            <twig:switch status="{{ post.status }}" />
                        </a>
                    </td>
                    <td class="px-3 py-3 text-sm text-start min-w-[125px]">{{ post.publishedAt|format_time_diff }}</td>
                    <td class="px-3 py-3 text-sm text-center">
                        <div class="table-actions">
                            <a href="{{ path('admin.post.preview', {slug: post.slug}) }}" class="text-sm font-medium text-blue-500">
                                <twig:ux:icon name="mage:eye" class="size-5 text-slate-800" />
                            </a>
                            <a href="{{ path('admin.post.update', {slug: post.slug}) }}" class="text-sm font-medium text-blue-500">
                                <twig:ux:icon name="mage:edit" class="size-5 text-blue-500" />
                            </a>
                            {{ include('admin/post/_delete_form.html.twig') }}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {{ knp_pagination_render(posts, 'components/pagination.html.twig') }}
    {% else %}
        <p class="text-lg font-light leading-7">Aucun post enregistré</p>
    {% endif %}
{% endblock %}
