<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title 'Devloppeur web freelance - Symfony' %} | Ousseine</title>
        <meta name="description" content="Je crée des sites internet modernes, performants et sur mesure pour donner vie à vos idées et renforcer votre visibilité en ligne. Vitrine, e-commerce ou site pro — je construis la présence digitale qui vous démarque." />
        <meta name="keywords" content="création de site web, développeur web freelance, visibilité en ligne, business website, développement web sur mesure, accompagnement digital personnalisé, développeur Symfony" />
        <meta name="author" content="Ousseine" />
        <meta name="robots" content="index, follow" />

        <meta property="og:title" content="{{ title is defined ? title : '' }}" />
        <meta property="og:language" content="fr" />
        <meta property="og:site_name" content="Ousseine.fr" />
        <meta name="twitter:site" content="@ousseine_site" />

        <meta name="author" content="Ousseine" />
        <meta name="copyright" content="Ousseine" />

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}

        <link rel="apple-touch-icon" sizes="128x128" href="{{ asset('images/favicon_128x128.jpg') }}" />
        <link rel="icon" href="{{ asset('images/logo.png') }}" />
    </head>
    <body class="relative min-h-screen bg-gradient-to-br from-slate-50 via-white to-blue-50 flex flex-col {% block admin_class %}{% endblock %}">
        {% block body %}{% endblock %}
    </body>
</html>
